server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ShopAuth
    username: postgres
    password: 12345
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: "supersecretkey1234567890"  # лучше хранить в ENV
  expiration: 3600000  # 1 час

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui

#  mail:
#    host: smtp.gmail.com
#    port: 587
#    username: vadlapd@gmail.com
#    password: lvs27310
#    properties:
#      mail:
#        smtp:
#          auth: true
#          starttls:
#            enable: true
